<!doctype html>
<html>

<head>
  <title>Game Over</title>
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <section>
    <h1> {{ gameMessage }} </h1>
    <form method='post' action="/new">
      <input type='submit' value="New Game">
    </form>
  </section>
</body>
</html
